@model IEnumerable<MVCScholl.Models.TeacherModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teacherid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teacherid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneno)
        </td>
        <td>
                @Html.ActionLink("Create", "Create") |
                @Html.ActionLink("Update", "Edit", new {  id=item.teacherid}) |
                @Html.ActionLink("Read", "Details", new { id=item.teacherid}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.teacherid })
            </td>
    </tr>
}

</table>
